*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Karla;
}
body{
  background-color: #165872;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.title{
  font-size: 3rem;
  text-align: center;
  color: #252424;
  margin-bottom: 10px;
}
.about{
  margin-bottom: 15px;
}

.dices-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  justify-items: center;
}
.dice{
  color: aliceblue;
  background-color: rgb(131, 131, 131);
  border-radius: 8px;
  box-shadow: 0px 3px 4px 0px #313030;
  cursor: pointer;
  width: 65px;
  height: 70px;
  text-align: center;
  font-size: 2rem;
  transition: 0.3s;
}
.roll{
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 1px 0px #06415e;
  font-weight: 900;
  font-size: 1rem;
  border: solid rgb(52, 52, 52) 2px;
  margin-top: 40px;
  width: 100px;
  color: aliceblue;
  background-color: rgb(16, 149, 226);
  cursor: pointer;
  transition: 0.3s;
}
.roll:hover{
  background-color: rgb(57, 177, 247);
}
.selected{
  background-color: rgb(24, 178, 24);
}
.game{
  display: flex;
  flex-direction: column;
  align-items: center;
}
img{
  width:100%;
}
.game-cont{
  background-color: aliceblue;
  padding: 0px 40px 0px 40px;
  display: flex;
  width: 600px;
  height: 550px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.cont {
  background-color:rgb(217, 224, 231);
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}
.stats{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
  margin-bottom: 10px ;
  
}
.record, .timer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  padding: 0px 30px;
  padding-top: 5px;
  border-radius: 8px;
  background-color:rgb(131, 131, 131);
  border: solid rgb(34, 34, 34) 2px ;
  margin-bottom: 10px;
  box-shadow: 0px 3px 2px 0px rgb(131, 131, 131);
}
.record p, .timer p {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  margin-top: 4px;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 0px 0px 5px 5px;
  width: 60px;
}
.record{
  width: 75px;
}
.record p{
  width: 71px;
  position: relative;
}
.st{
  color: aliceblue;
  font-weight: 700;
}
.nrecord{
  background-color: #165872;
  transition: 0.3s;
}