*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Karla;
}
body{
  background-color: #165872;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  
}
.title{
  font-size: 3rem;
  text-align: center;
  color: #252424;
  margin-bottom: 10px;
}
.about{
  margin-bottom: 40px;
}
.dices-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  justify-items: center;
}

.dice{
  color: aliceblue;
  background-color: rgb(131, 131, 131);
  border-radius: 8px;
  box-shadow: 0px 3px 4px 0px #313030;
  cursor: pointer;
  width: 65px;
  height: 70px;
  text-align: center;
  font-size: 2rem;
  transition: 0.3s;
}
.roll{
  padding: 15px 30px;
  border-radius: 8px;
  font-weight: 900;
  font-size: 1rem;
  border: none;
  margin-top: 40px;
  width: 100px;
  color: aliceblue;
  background-color: rgb(16, 149, 226);
  cursor: pointer;
  transition: 0.3s;
}
.roll:hover{
  background-color: rgb(57, 177, 247);
}

.selected{
  background-color: rgb(24, 178, 24);
}
.game{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  width:100%;
}

.game-cont{
  background-color: aliceblue;
  padding: 0px 40px 40px 40px;
  display: flex;
  width: 600px;
  height: 550px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}